*, *::before, *::after {
  box-sizing: border-box;
}

#root {
 
  margin: 0;
  text-align: center;
  background-color: rgba(251, 231, 4, 0.5);
  
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color:rgb(251, 231, 4);
  text-align: left;
  font-weight: 300;
  font-size: 2rem;
}
h2 {
  font-weight: 300;
  font-size: 1.8rem;
}
h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

/* ANIMATIONS */
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin-burger {
  animation: spinAnimation 0.5s linear;
}


.app-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  z-index: 0;
}

/* HOME COVER */
.cover-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.enter-button {
  border: none;
  padding: 13px 28px;
  background-color: rgb(251, 231, 4);
  color: rgb(30, 141, 35);
  font-size: 1.8rem;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
}
.enter-button:hover {
  font-size: 2rem;
}


/* NAV */

.navbar {
  /* background-color: rgb(64, 147, 55); */
  background-color: rgb(0, 76, 19);
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 10px gray;
  margin: 2rem 0;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  display: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

nav ul li {
  line-height: 1.2;
  width: 140px;
  height: 60px;
  background-color: rgb(251, 231, 4);
  margin-top: 20px;
  margin-bottom: 20px;
  
}

nav ul li a {
  color: rgb(64, 147, 55);
  text-decoration: none;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav img {
  height: 30px;
  display: flex;
}

.nav-li-logo {
  position: absolute;
  left: 10px;
  top: 10px;
}

.navbar-toggle {
  display: block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}
.navbar-toggle img {
  width: 30px;
  height: 30px;
  display: flex;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(0, 76, 19);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.overlay.active {
  display: block;
}

/* FOOTER */

footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

/* IMAGES */



/* LOGO ANIMATION */
.logo-container {

}
.logo {
  
}


/* TEXTS */

.about {
  margin: 80px auto;
  width: 100%;
}
.about-text {
  /* box-shadow: 0px 0px 10px gray; */
  /* background-color: rgba(251, 231, 4, 0.6);
  color: rgb(0, 76, 19); */
  background-color: rgba(0, 76, 19, 0.8);
  color: rgb(251, 231, 4);
  padding: 4rem 10%;
}
.about-text p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-align: left;
}
.about-text-picture {
  width: 100%;
  vertical-align: middle;
}

.services {
  margin: 80px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-text {
  background-color: rgba(0, 76, 19, 0.8);
  /* background-color: rgb(64, 147, 55); */
  color: rgb(251, 231, 4);
  padding: 4rem 10%;
}
.services-text-alt {
  background-color: rgba(251, 231, 4, 0.7);
  padding: 4rem 10%;
}
.services-text-bigger {
  font-size: 1.2rem;
}
.services-text p,
.services-text-alt p,
.services-text ul{
  text-align: left;
}
.services-text ul {
  padding-left: 1rem;
}
.services-text ul li {
  margin-top: 2px;
  margin-bottom: 10px;
}
.services-picture {
  width: 100%;
  vertical-align: middle;
}

.solutions {
  text-align: left;
  margin: 80px auto;
  width: 100%;
}
.solutions-text {
  background-color: rgba(0, 76, 19, 0.8);
  color: rgb(251, 231, 4);
  padding: 4rem 10%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.solutions-text-bigger {
  font-size: 1.2rem;
}
.solutions-text ul {
  padding-left: 1rem;
  text-align: justify;
}
.solutions-text ul li {
  margin-top: 30px;
  margin-bottom: 20px;
}
.solutions-pic-container {
}
.solutions-pic-container img,
.solutions-pic-container-2-first,
.solutions-pic-container-2-second,
.solutions-singlePic {
  width: 100%;
  margin-bottom: 20px;
}


.contact {
  background-color: rgba(0, 76, 19, 0.8);
  color: rgb(251, 231, 4);
  padding: 4rem 10%;
  text-align: left;
  margin: 80px auto;
}
.contact-big {
  font-size: 1.2rem;
  font-weight: 700;
}
.contact-ul {
  list-style-type: none;
}

.terms-con,
.priv-pol {
  background-color: rgba(0, 76, 19, 0.8);
  color: rgb(251, 231, 4);
  padding: 4rem 10%;
  text-align: left;
  margin: 80px auto;
  padding: 4rem 10%;
}
.terms-con h3,
.priv-pol h3 {
  margin-top: 40px;
}
.terms-con a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

/* BACK TO TOP BUTTON */

.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 800;
  padding: 10px 20px;
  background-color: rgb(251, 231, 4);
  opacity: 0.3;
  color: #fff;
  border: 1px solid rgb(0, 76, 19);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}
.back-to-top-btn img {
  width: 25px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .navbar-links {
    display: flex;
    gap: 40px;
  }
  nav ul li {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.7;
    width: 90px;
    height: 37px;
  }
  nav ul li a {
    font-size: 0.85rem;
  }
  nav ul li:hover {
    opacity: 1;
  }

  .navbar-toggle {
    display: none;
  }

  .solutions-pic-container {
    display: flex;
    width: 100%;
  }
  .solutions-pic-container img {
    margin-right: 2%;
    width: 49%;
  }
  .solutions-pic-container-2-first {
    width: 61.3%;
    margin-right: 2%;
  }
  .solutions-pic-container-2-second {
    width: 36.7%;
  }
  .solutions-pic-container-2,
  .solutions-singlePic {
    margin-left: 15%;
    width: 70%;
  }

  .enter-button {
    padding: 7px 14px;
    font-size: 1.5rem;
  }
  .enter-button:hover {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 865px) {
  nav ul li {
    width: 100px;
    margin: 7px;
  }
  
}